@font-face {
  font-family: "Poppins Thin";
  src: url('./poppins/poppins-100.ttf');
  font-weight: 100;
}

@font-face {
  font-family: "Poppins Thin Italic";
  src: url('./poppins/poppins-100-italic.ttf');
  font-weight: 100;
}

@font-face {
  font-family: "Poppins Extra Light";
  src: url('./poppins/poppins-200.ttf');
  font-weight: 200;
}

@font-face {
  font-family: "Poppins Extra Light Italic";
  src: url('./poppins/poppins-200-italic.ttf');
  font-weight: 200;
}

@font-face {
  font-family: "Poppins Light";
  src: url('./poppins/poppins-300.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "Poppins Light Italic";
  src: url('./poppins/poppins-300-italic.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "Poppins Regular";
  src: url('./poppins/poppins-400.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Poppins Regular Italic";
  src: url('./poppins/poppins-400-italic.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Poppins Medium";
  src: url('./poppins/poppins-500.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "Poppins Medium Italic";
  src: url('./poppins/poppins-500-italic.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "Poppins Semi Bold";
  src: url('./poppins/poppins-600.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "Poppins Semi Bold Italic";
  src: url('./poppins/poppins-600-italic.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "Poppins Bold";
  src: url('./poppins/poppins-700.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Poppins Bold Italic";
  src: url('./poppins/poppins-700-italic.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Poppins Extra Bold";
  src: url('./poppins/poppins-800.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "Poppins Extra Bold Italic";
  src: url('./poppins/poppins-800-italic.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "Poppins Black";
  src: url('./poppins/poppins-900.ttf');
  font-weight: 900;
}

@font-face {
  font-family: "Poppins Black Italic";
  src: url('./poppins/poppins-900-italic.ttf');
  font-weight: 900;
}