@import "styles/variables";

.links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  .link {
    display: flex;

    a:hover, a:focus {
      font-family: $primary-font-semi-bold;
    }
  }
}

@include mobile {
  .links {
    justify-content: start;
    flex-grow: 0;
  }
}